.theme-switched
  .card.paper
    h6.title Header Layout
    .row#custom_header
      .col-6.pa-0.pa-sm-2
        |
        |
        a.waves-effect.ly-btn.mb-8.active(data-header="mixed")
          img(src=assets+"/images/showcase/header_default.jpg" alt="mixed")/
          | Mixed
        |
        |
        a.waves-effect.ly-btn.mb-8(data-header="basic")
          img(src=assets+"/images/showcase/header_basic.jpg" alt="basic")/
          | Basic
        |
        |
        a.waves-effect.ly-btn.mb-8(data-header="search")
          img(src=assets+"/images/showcase/header_search.jpg" alt="search")/
          | Search
        |
        |
        a.waves-effect.ly-btn.mb-8(data-header="navscroll")
          img(src=assets+"/images/showcase/header_nav.jpg" alt="navscroll")/
          | Scroll Nav
        |
        |
      .col-6.pa-0.pa-sm-2
        |
        |
        a.waves-effect.ly-btn.mb-8(data-header="droplist")
          img(src=assets+"/images/showcase/header_droplist.jpg" alt="droplist")/
          | Dropdown List
        |
        |
        a.waves-effect.ly-btn.mb-8(data-header="mega")
          img(src=assets+"/images/showcase/header_mega.jpg" alt="mega")/
          | Mega Menu
        |
        |
        a.waves-effect.ly-btn.mb-8(data-header="hamburger")
          img(src=assets+"/images/showcase/header_hamburger.jpg" alt="hamburger")/
          | Hamburger
        |
        |
  .card.paper
    h6.title Footer Layout
    .row#custom_footer
      .col-6.pa-0.pa-sm-2
        |
        |
        a.waves-effect.waves-effect.ly-btn.mb-8.active(data-footer="sitemap")
          img(src=assets+"/images/showcase/footer_sitemap.jpg" alt="sitemap")/
          | Sitemap
        |
        |
      .col-6.pa-0.pa-sm-2
        |
        |
        a.waves-effect.ly-btn.mb-8(data-footer="blog")
          img(src=assets+"/images/showcase/footer_blog.jpg" alt="blog")/
          | Blog
        |
        |
      .col-6.pa-0.pa-sm-2
        |
        |
        a.waves-effect.ly-btn.mb-8(data-footer="basic")
          img(src=assets+"/images/showcase/footer_basic.jpg" alt="basic")/
          | Basic
        |
        |
      .col-6.pa-0.pa-sm-2
        |
        |
        a.waves-effect.ly-btn.mb-8(data-footer="contact")
          img(src=assets+"/images/showcase/footer_contact.jpg" alt="contact")/
          | Contact
        |
        |
  .card.paper
    h6.title Bottom Corner
    .row#custom_corner
      .col-6.col-sm-4.pa-0.pa-sm-2
        |
        |
        a.waves-effect.active.ly-btn.mb-8(data-corner="chat")
          img(src=assets+"/images/showcase/chat.jpg" alt="chat")/
          | Chat Panel
        |
        |
      .col-6.col-sm-4.pa-0.pa-sm-2
        |
        |
        a.waves-effect.ly-btn.mb-8(data-corner="nav")
          img(src=assets+"/images/showcase/pagenav.jpg" alt="pagenav")/
          | Page Navigation
        |
        |