.root-history
  .history
    h5.mb-5.title-timeline.use-text-subtitle.text-uppercase
      | #{$t.profile.stats_subtitle3}
    div
      ul
        li
          .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
            .list
              figure
                |
                |
                img(src=imgAPI.logos[1] alt="logo")/
                |
                |
              div
                h3.use-text-subtitle2
                  | Creative Director
                p.my-1
                  | at Fourth Company
                p.time
                  | 2015 - Present
        li
          .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
            .list
              figure
                |
                |
                img(src=imgAPI.logos[13] alt="logo")/
                |
                |
              div
                h3.use-text-subtitle2(class="sm:pb-2")
                  | Senior UI/UX Designer
                p.my-1
                  | at Third Company
                p.time
                  | 2013 - 2015
        li
          .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
            .list
              figure
                |
                |
                img(src=imgAPI.logos[61] alt="logo")/
                |
                |
              div
                h3.use-text-subtitle2(class="sm:pb-2")
                  | Senior UI/UX Designer
                p.my-1
                  | at Second Company
                p.time
                  | 2012 - 2013
        li
          .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
            .list
              figure
                |
                |
                img(src=imgAPI.logos[10] alt="logo")/
                |
                |
              div
                h3.use-text-subtitle2(class="sm:pb-2")
                  | Senior UI/UX Designer
                p.my-1
                  | at First Company
                p.time
                  | 2009 - 2011
        li
          .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
            .list
              figure
                |
                |
                img(src=imgAPI.logos[12] alt="logo")/
                |
                |
              div
                h3.use-text-subtitle2(class="sm:pb-2")
                  | Senior UI/UX Designer
                p.my-1
                  | at First Company
                p.time
                  | 2009 - 2011
        li
          .wow.fadeInLeftShort(data-wow-offset="100" data-wow-duration="0.3s")
            .list
              figure
                |
                |
                img(src=imgAPI.logos[16] alt="logo")/
                |
                |
              div
                h3.use-text-subtitle2(class="sm:pb-2")
                  | Senior UI/UX Designer
                p.my-1
                  | at First Company
                p.time
                  | 2009 - 2011
