#ai-call-action
  .container.fixed-width.max-lg
    .wow.fadeInUpShort(data-wow-offset="-100" data-wow-delay="0.5s" data-wow-duration="0.5s")
      .action
        .wrap
          h4.use-mq--title
            | #{$t.ai_landing.cta_title}
          p.use-text-subtitle2
            | #{$t.ai_landing.cta_desc}
          .btn-area
            |
            |
            a.btn.button.btn-large.black(
              href=link.register
            )
              | #{$t.btn_get}
            |
            |
            a.btn.btn-outlined.button.btn-large.black(href=link.about)
              | #{$t.btn_detail}
            |
            |
