-
  var jobs = [
    {
      name: 'Head of Product',
      category: 'Marketing',
      location: 'Yokohama',
      type: 'Full Time',
      qualification: 'Fresh Graduate',
      posted: '22 Dec 2023',
    },
    {
      name: 'Head of Product',
      category: 'Marketing',
      location: 'Yokohama',
      type: 'Full Time',
      qualification: 'Fresh Graduate',
      posted: '22 Dec 2023',
    },
    {
      name: 'Head of Product',
      category: 'Marketing',
      location: 'Yokohama',
      type: 'Full Time',
      qualification: 'Fresh Graduate',
      posted: '22 Dec 2023',
    },
    {
      name: 'Head of Product',
      category: 'Marketing',
      location: 'Yokohama',
      type: 'Full Time',
      qualification: 'Fresh Graduate',
      posted: '22 Dec 2023',
    },
    {
      name: 'Head of Product',
      category: 'Marketing',
      location: 'Yokohama',
      type: 'Full Time',
      qualification: 'Fresh Graduate',
      posted: '22 Dec 2023',
    },
    {
      name: 'Head of Product',
      category: 'Marketing',
      location: 'Yokohama',
      type: 'Full Time',
      qualification: 'Fresh Graduate',
      posted: '22 Dec 2023',
    },
    {
      name: 'Head of Product',
      category: 'Marketing',
      location: 'Yokohama',
      type: 'Full Time',
      qualification: 'Fresh Graduate',
      posted: '22 Dec 2023',
    }
  ]

include ../../title/title.pug
include ../../forms/arrow-button/standard.pug

#about-career
  .job
    .container
      .tab
        .row.spacing2.justify-content-center
          .col-lg-8.col-md-10.col-sm-12
            +title-main($t.career_joblist, 'center')
            ul.tabs.tabs-basic.primary
              li.tab
                |
                |
                a.tab-label.waves-effect.active(href='#tab-1') All
                |
                |
              li.tab
                |
                |
                a.tab-label.waves-effect(href='#tab-2') Engineering
                |
                |
              li.tab
                |
                |
                a.tab-label.waves-effect(href='#tab-3') Marketing
                |
                |
              li.tab
                |
                |
                a.tab-label.waves-effect(href='#tab-4') Designs
                |
                |
              li.tab
                |
                |
                a.tab-label.waves-effect(href='#tab-5') Research
                |
                |
            .tab-content
              #tab-1.tab-item.active
                div
                  .accordion
                    ul.collapsible
                      each item, index in jobs
                        |
                        |
                        li.accordion-content.paper(class=index === 0 && "active")
                          .collapsible-header.content
                            .heading
                              .chip.small #{item.category}
                              h6.use-text-subtitle #{item.name}
                            .pe-4.ms-12.location-wrap(class="sm:ms-0")
                              p.me-3 #{item.location}
                              p #{item.type}
                            .justify-content-between.align-items-center.m-2.share-wrap
                              h3.use-text-paragraph.use-text-medium.hidden-sm-down Share
                              .socmed
                                |
                                |
                                a.btn.btn-icon.waves-effect(href='#')
                                  i.ion-md-link
                                |
                                |
                                a.btn.btn-icon.waves-effect(href='#')
                                  i.ion-logo-linkedin
                                |
                                |
                                a.btn.btn-icon.waves-effect(href='#')
                                  i.ion-logo-twitter
                                |
                                |
                                a.btn.btn-icon.waves-effect(href='#')
                                  i.ion-ios-mail
                                |
                                |
                            |
                            |
                            i.material-icons.right.arrow expand_more
                            |
                            |
                          .collapsible-body.detail
                            .row.spacing2-sm-down.spacing6.justify-content-center
                              .col-md-7.pe-3
                                p Type Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus facilisis semper. Suspendisse eleifend nunc non varius rhoncus. Nam posuere accumsan porta.
                                p.use-text-medium Job Description
                                ul
                                  li
                                    | Type Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus facilisis semper.
                                  li
                                    | Type Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus facilisis semper.
                                  li
                                    | Type Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus facilisis semper.
                                p.use-text-medium Requirements
                                ul
                                  li
                                    | Type Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus facilisis semper.
                                  li
                                    | Type Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus facilisis semper.
                                  li
                                    | Type Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus facilisis semper.
                              .col-md-5.pe-4
                                aside.sidebar
                                  |
                                  |
                                  a.btn.secondary.full-width.btn-large APPLY NOW
                                  |
                                  |
                                  ul.property
                                    li
                                      span Location
                                      strong #{item.location}
                                    li
                                      span Type
                                      strong #{item.type}
                                    li
                                      span Qualification
                                      strong #{item.qualification}
                                    li
                                      span Posted
                                      strong #{item.posted}
                                  +arrow-button-standard($t.faq_help1, link.contact, 'primary')
                                  +arrow-button-standard($t.faq_help3, link.blog, 'secondary')
                        