mixin case-card(bg, logo, title, desc, href, orientation='portrait')
  a.waves-effect.case-card(class=orientation href=href draggable='false')
    |
    |
    span.figure
      img(src=bg alt='img background')/
    |
    |
    span.property
      span.title
        span.logo
          img(src=logo, alt='logo')/
        span.text
          span.title #{title}
          span.desc #{desc}
    |
    |
