mixin icons3d(icon, color='primary')
  .icon3d
    |
    |
    span.icon-wrap(class=color+'-icon3d')
      i.shadow-3d.mdi(class=icon)
      i.emboss1.mdi(class=icon)
      i.emboss2.mdi(class=icon)
      i.front-3d.mdi(class=icon+' '+color+'-icon3d')
      i.emboss3.mdi(class=icon)
      i.overlay-3d.mdi(class=icon)
    |
    |