#blockchain-call-action
  .container.max-lg.fixed-width-md-up
    .wow.fadeInUpShort(data-wow-offset="-100" data-wow-delay="0.5s" data-wow-duration="0.5s")
      .action
        .wrap
          .row.align-items-end
            .col-lg-6.col-md-7.col-sm-12.px-0
              h4.use-text-title2
                | #{$t.blockchain.cta_title}
              p.use-text-subtitle2
                | #{$t.blockchain.cta_desc}
              .btn-area
                |
                |
                a.btn.button.btn-large.black(href=link.register)
                  | #{$t.btn_get}
                |
                |
                a.btn.btn-outlined.button.btn-large.black(href=link.about)
                  | #{$t.btn_detail}
                |
                |
            .col-lg-6.col-md-5.col-sm-12.px-0.hidden-md-down
              |
              |
              img(src=imgAPI.blockchain[15] alt="action")/
              |
              |
