#company-collage
  .slider(class=overlap ? 'overlap' : '')
    .strings
      .string-deco.string1.show-sm-up
        span
      .string-deco.string3.show-sm-up
        span
    .gallery
      .carousel
        .slick-carousel#collage-carousel
          .item.mt-15
            figure
              |
              |
              img(src=imgAPI.photosS[12], alt='collage')/
              |
              |
          .item.mt-7
            figure
              |
              |
              img(src=imgAPI.photosL[19], alt='collage')/
              |
              |
          .item
            figure
              |
              |
              img(src=imgAPI.photosP[32], alt='collage')/
              |
              |
          .item.mt-15
            br/
            figure.mt-15
              |
              |
              img(src=imgAPI.photosL[14], alt='collage')/
              |
              |
          .item.mt-15
            br/
            figure.mt-12
              |
              |
              img(src=imgAPI.photosS[13], alt='collage')/
              |
              |
          .item.mt-15
            figure
              |
              |
              img(src=imgAPI.photosS[12], alt='collage')/
              |
              |
          .item.mt-12
            figure
              |
              |
              img(src=imgAPI.photosS[11], alt='collage')/
              |
              |
          .item.mt-3
            figure
              |
              |
              img(src=imgAPI.photosP[32], alt='collage')/
              |
              |
          .item.mt-5
            figure
              |
              |
              img(src=imgAPI.photosP[31], alt='collage')/
              |
              |
          .item.mt-17
            figure
              |
              |
              img(src=imgAPI.photosS[13], alt='collage')/
              |
              |
