.faq-style
  .card.help-paper.text-center
    |
    |
    img(src=imgAPI.inner[20], alt='illustration')/
    |
    |
    div
      h6.mb-lg-2.use-text-subtitle2.use-text-medium.text-center
        | #{$t.faq_luck}
      p
        | #{$t.faq_luck_desc}
    .mt-5
      |
      |
      a.btn.full-width.primary.btn-large(href=link.contact)
        | #{$t.faq_luck_btn}
      |
      |
