-
  var people = [{
    img: imgAPI.avatar[6],
    name: 'John Doe',
    title: '@john'
  },
  {
    img: imgAPI.avatar[1],
    name: 'Jean Doe',
    title: '@doe_jead'
  },
  {
    img: imgAPI.avatar[7],
    name: 'Jim Doe',
    title: '@jimdoe'
  },
  {
    img: imgAPI.avatar[2],
    name: 'Jihan Doe',
    title: '@doe_jihan'
  },
  {
    img: imgAPI.avatar[0],
    name: 'Jena Doe',
    title: '@jena_doe'
  },
  {
    img: imgAPI.avatar[9],
    name: 'Johan Doe',
    title: '@johan'
  }];

#about-sidebar
  aside.sidebar
    .side-mobile
      h4.mb-3.use-text-subtitle2.use-text-medium.text-uppercase
        | #{$t.about_me}
      p.use-text-paragraph
        | #{$t.auth_desc}
        | #{$t.culture_desc1}
      ul.property
        li
          span Project Views
          strong 1445
        li
          span Appreciations
          strong 230
        li
          span Member since
          strong 2018
        li
          span Email
          strong john.doe@example.com
      h4.mb-3.use-text-subtitle2.use-text-medium.text-uppercase
        | #{$t.about_skills}
      .tags
        .chip.use-bg-primary-light Designs
        .chip.use-bg-secondary-light Architect
        .chip.use-bg-accent-light Programming
        .chip.use-bg-accent2-light Photography
    .side-mobile
      h4.mb-3.use-text-subtitle2.use-text-medium.text-uppercase
        | #{$t.about_people}
      .about_skills
        ul.collection
          each item, index in people
            li.collection-item.avatar
              |
              |
              img.avatar-img.circle(src=item.img title="avatar" alt="avatar")/
              |
              |
              span.title-list #{item.name}
              |
              |
              p #{item.title}
              |
              |
              a.secondary-content.btn.primary.btn-outlined.btn-small.waves-effect follow
              |
              |
      .btn-area
        |
        |
        a.btn.btn-icon.waves-effect
          i.material-icons share
        |
        |
        a.btn.btn-icon.waves-effect
          i.material-icons more_horiz
        |
        |
